.Cart {
  width: 70%;
  min-width: 500px;
  margin: 0 auto;
}

.total {
  border-top: 1px solid #b9c2fc;
  margin: 2rem auto;
  padding-top: 2rem;
  position: relative;
}

.total__text,
.total__amount {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
  color: #303fa0;
}

.total__text {
}

.total__amount {
  position: absolute;
  right: 0;
  bottom: 0;
}

.buyNow {
  margin-bottom: 2rem;
}
